

.app_container {
  width: 100vw;
  min-width: 300px;
  max-width: 420px;
  height: 100vh;

  background-color: #F8F6F4;

  /* background-image: linear-gradient(
    180deg,
    #F8F6F4 0%,
    #D2E9E9 40%,
    #C4DFDF 100%
  );
  background-repeat: no-repeat; */

  margin: auto;
}